.container{
    background-color: var(--bg-soft);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding : 1rem;
    border-radius: 0.5rem;
}

.title{
    color : var(--textSoft);
    font-size: 1.3rem;
    font-weight: 200;
}

.userImage{
    border-radius: 50%;
}

.User{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.table{
    width: 100%;
}

.data{
    padding: 1rem;
}


.status{
    padding: 5px;
    border-radius: 0.5rem;
    font-size: 0.8rem;
    color: white;
}

.done{
    background-color: #afd6ee75;
}

.pending{
    background-color: #f7737375;
}

.cancelled{
    background-color: #f7cb7375;
}